<h2>Palkanlaskenta</h2>

<div class="well">
	<h3>Ilmoitukset</h3>
	<table class="table no-highlight">
		<thead>
			<tr>
				<th>Ilmoitettava</th>
				<th>Pvm viimeistään</th>
				<th>Ilmoitettavaa</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Ennakot</td>
				<td>12.7.2013</td>
				<td>3450,40</td>
				<td><a class="btn btn-medium"><i class="icon-volume-up"></i> Ilmoita</a></td>
			</tr>
			<tr>
				<td>Sotu</td>
				<td>12.7.2013</td>
				<td>3450,40</td>
				<td><a class="btn btn-medium"><i class="icon-volume-up"></i> Ilmoita</a></td>
			</tr>
			<tr>
				<td> </td>
				<td style="color: red"><i style="color: red;" class="icon-exclamation-sign"></i> 5.6.2013</td>
				<td style="color: red">3260,20</td>
				<td><a class="btn btn-medium"><i class="icon-volume-up"></i> Ilmoita</a></td>
			</tr>
			<tr>
				<td>TyEl</td>
				<td>5.7.2013</td>
				<td>3450,40</td>
				<td><a class="btn btn-medium"><i class="icon-volume-up"></i> Ilmoita</a></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="well">
	<h3>Maksamattomat palkat</h3>
	<table class="table no-highlight">
		<thead>
			<tr>
				<th>Nimi</th>
				<th>Tunnit</th>
				<th>Kilometrit</th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Eemil Kantoluoto</td>
				<td>39</td>
				<td>120</td>
				<td><a class="btn btn-medium" hhref="/palkanlaskenta/palkkalaskelma/1"><img src="assets/euro.png" class="iconic" /> Maksa</a> <a class="btn btn-medium"><img src="assets/euro.png" class="iconic" /> <i class="icon-fast-forward"></i> Maksa ennakkoa</a></td>
			</tr>
			<tr>
				<td>Pyry</td>
				<td>42</td>
				<td>115</td>
				<td><a class="btn btn-medium" hhref="/palkanlaskenta/palkkalaskelma/2"><img src="assets/euro.png" class="iconic" /> Maksa</a> <a class="btn btn-medium"><img src="assets/euro.png" class="iconic" /> <i class="icon-fast-forward"></i> Maksa ennakkoa</a></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="well">
	<h3>Maksetut palkat</h3>
	<table class="table no-highlight">
		<thead>
			<tr>
				<th>Maksupäivä</th>
				<th>Kenelle</th>
				<th>Summa</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>15.5.2013</td>
				<td>Pyry</td>
				<td>1563,44</td>
			</tr>
			<tr>
				<td></td>
				<td>Eemil Kantoluoto</td>
				<td>1599,15</td>
			</tr>
			<tr>
				<td>30.4.2013</td>
				<td>Pyry</td>
				<td>1722,35</td>
			</tr>
			<tr>
				<td></td>
				<td>Eemil Kantoluoto</td>
				<td>1934,25</td>
			</tr>
		</tbody>
	</table>
	
	<a class="btn btn-large"><i class="icon-folder-open"></i> Näytä kaikki</a>
</div>
