<h2><%= @worker.name %></h2>

<br />
<br />

<div class="well">
	<h3>Henkilötiedot</h3>
	<table class="table no-highlight">
		<tbody>
			<tr id="name-row">
				<th>Nimi</th>
				<td>Eemil Eerik Kantoluoto</td>
				<td><a class="btn btn-medium"><i class="icon-edit"></i> Muokkaa</a></td>
			</tr>
			<tr id="sose-row">
				<th>Sotu</th>
				<td>110892-432D</td>
				<td><a class="btn btn-medium"><i class="icon-edit"></i> Muokkaa</a></td>
			</tr>
			<tr id="addr-row">
				<th>Osoite</th>
				<td>Vyökatu 4<br />15900 Lahti</td>
				<td><a class="btn btn-medium"><i class="icon-edit"></i> Muokkaa</a></td>
			</tr>
			<tr id="accnum-row">
				<th>Tilinumero</th>
				<td>FI20 2028 2000 3576 47</td>
				<td><a class="btn btn-medium"><i class="icon-edit"></i> Muokkaa</a></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="well">
	<h3>Palkan koostumus</h3>
	<table class="table no-highlight">
		<tbody>
			<tr id="base-row">
				<th>Perusosa</th>
				<td>9.38</td>
				<td><a class="btn btn-medium"><i class="icon-edit"></i> Muokkaa</a></td>
			</tr>
			<tr id="pers-row">
				<th>Henkilökohtainen lisä</th>
				<td>1.2</td>
				<td><a class="btn btn-medium"><i class="icon-edit"></i> Muokkaa</a></td>
			</tr>
			<tr id="total-row">
				<th>Yhteensä</th>
				<th>10.58</th>
				<td><a class="btn btn-medium"><i class="icon-edit"></i> Muokkaa</a></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="well">
	<h3>Verotus</h3>
	<table class="table no-highlight">
		<tbody>
			<tr id="tax-row">
				<th>Veroprosentti</th>
				<td>8.5</td>
				<td><a class="btn btn-medium"><i class="icon-edit"></i> Muokkaa</a></td>
			</tr>
		</tbody>
	</table>
</div>
